:root {
    --backgroundDarkColor: #2C2C2C;
    --textColor: #FFFFFF;
    --orangeMainColor: #BE5301;
}

/* The container */
.container {
  margin-left: 15px;
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  color: var(--textColor);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #000000;
  border: 1px solid var(--orangeMainColor);
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  box-shadow: 0 0 10px var(--orangeMainColor);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  border: 2px solid var(--orangeMainColor);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 2px;
  height: 5px;
  border: solid var(--orangeMainColor);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
 No newline at end of file
