::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}


* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2C2C2C;
}

::placeholder {
  color: #F0D6C3;
}

.search {
  margin-top: 40px;
  margin-right: 5%;
  margin-left: 5%;
}

.search input[type=text] {
  padding: 6px;
  border: 2px solid #BE5301;
  border-radius: 5px;
  font-size: 30px;
  background-color: #333233;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
}

.search input[type=text]:focus {
  outline: none;
   box-shadow: 0 0 5px #BE5301;
}

.mainContent {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 100px;
}


.optionsColumn {
  float: left;
  width: 33.33%;
  padding: 1.65%;
  height: 60vh;
  border: 2px solid #BE5301;
  border-radius: 10px;
  position: relative;
  overflow-y: hidden;
}


.topLabsColumn {
  float: left;
  width: 60.66%;
  margin-left: 6%;
  padding: 0px;
  height: 60vh;
  border: 2px solid #BE5301;
  border-radius: 10px;
  position: relative;
  overflow-y: hidden;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.optionSubmit input[type=submit] {
  position:absolute;
  bottom: 10px;
  right: 10px;
  background: #444444;
  border: 2px solid #ec6607;
  border-radius: 10px;
  padding: 8px 20px;
  cursor: pointer;
  color: #FFFFFF;
  display: inline-block;
  font-size: 20px;
  text-align: center;
}

.optionSubmit input[type=submit]:hover {
  box-shadow: 0 0 5px #BE5301;
}

.optionSubmit input[type=submit]:active {
  background: #6F6E6D;
}

.textOptionHeader {
  margin-bottom: 20px;
  font-size: 24px;
  color: #FFFFFF;
}

.selectDiv {
  display: flex;
  margin-top: 20px;
}

.text {
  color: #FFFFFF;
}

.optionSelect {
  border: 1px solid #BE5301;
  color: #FFFFFF;
  background-color: black;
  margin-left: auto;
  width: 50%;
}

.subfields {
  margin-top: 20px;
}

.subfieldsHeader {
  color: #FFFFFF;
}

.subfieldsOptions {
  width: 100%;
  margin-top: 10px; 
  overflow-y: scroll;
  top: 215px;
  position: absolute;
  bottom: 0;
}

.textTopHeader {
  width: 100%;
  font-size: 24px;
  padding: 1.65%;
  color: #FFFFFF;
  text-align: center;
}

.top {
  top: 50px;
  color: #FFFFFF;
  width: 100%;
  border-collapse: collapse;
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
}

.topLabItem {
  padding: 8px;
  border-top: 1px solid #BE5301;
  border-bottom: 1px solid #BE5301;
  background-color: #333333;
}

.topLabItem:hover {
  background-color: #222222;
  cursor: pointer;
}

.topLabName {
  font-size: 20px;
}

.topLabName span {
  display: inline-block;
  border-bottom: 1px solid #BE5301;
  padding-bottom: 1px;
}

.topUniversityName {
  padding-top: 10px;
  padding-left: 7%;
}

.topUniversityName span {
  font-style: italic;
}

.topResearchName {
  padding-top: 10px;
  padding-left: 7%;
}

.topResearchName ul {
  margin-top: 2px;
  list-style: none;
}

.topResearchName ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #BE5301; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

