:root {
  --backgroundDarkColor: #2C2C2C;
  --textColor: #F6B485;
  --orangeMainColor: #BE5301;
}


* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--backgroundDarkColor);
}

::placeholder {
  color: #F0D6C3;
}

.search {
  margin-top: 40px;
  margin-right: 5%;
  margin-left: 5%;
}

.search input[type=text] {
  padding: 6px;
  border: 2px solid var(--orangeMainColor);
  border-radius: 5px;
  font-size: 30px;
  background-color: #333233;
  color: var(--textColor);
  width: 100%;
  height: 100%;
}

.search input[type=text]:focus {
  outline: none;
   box-shadow: 0 0 5px var(--orangeMainColor);
}

.mainContent {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 100px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 1.65%;
  height: 60vh;
  position: relative;
}


.topLabsColumn {
  width: 60.66%;
  margin-left: 6%;
  padding: 0px;
  overflow-y: scroll;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.optionSubmit input[type=submit] {
  position:absolute;
  bottom: 10px;
  right: 10px;
  background: #555456;
  border: 2px solid #ec6607;
  border-radius: 10px;
  padding: 8px 20px;
  cursor: pointer;
  color: #ec6607;
  display: inline-block;
  font-size: 20px;
  text-align: center;
}

.optionSubmit input[type=submit]:hover {
  box-shadow: 0 0 5px #BE5301;
}

.optionSubmit input[type=submit]:active {
  background: #6F6E6D;
}

.textOptionHeader {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--textColor);
}

.textTopHeader {
  font-size: 24px;
  padding: 1.65%;
  color: var(--textColor);
}

.orangeBorder {
  border: 2px solid #BE5301;
  border-radius: 10px;
}

.selectDiv {
  display: flex;
  margin-top: 20px;
}

.text {
  color: var(--textColor);
}

.optionSelect {
  border: 1px solid var(--orangeMainColor);
  color: var(--orangeMainColor);
  background-color: black;
  margin-left: auto;
  width: 50%;
}

.top {
  color: var(--textColor);
  width: 100%;
  border-collapse: collapse;
}

.top tr:nth-child(even) {
  background-color: #393939;
}

.top tr:not(:first-child):hover {
  background-color: #161616;
  cursor: pointer;
}

.top td {
  border: 1px solid #BE5301;
  padding: 8px;
}

.top th {
  padding-left: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #BE5301;
  text-align: left;
}

