::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #DDDDDD;
  color: #000000;
}

.header {
  margin-left: 5%;
  margin-right: 5%;
}

.logo {
    float: right;
}

.logo img {
    width: 150px;
}

.findJob input[type=submit] {
  margin-top: 10px;
  background: #CCCCCC;
  border: 2px solid #00A2FF;
  border-radius: 7px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  width: 300px;
  height: 40px;
}

.findJob input[type=submit]:hover {
  box-shadow: 0 0 5px #00A2FF;
}

.findJob input[type=submit]:active {
  background: #BBBBBB;
  color: #000000;
}

::placeholder {
  color: #87ACCD;
}

.search {
  margin-top: 20px;
  margin-right: 5%;
  margin-left: 5%;
}

.search input[type=text] {
  padding: 6px;
  border: 2px solid #00A2FF;
  border-radius: 5px;
  font-size: 30px;
  background-color: #D5D5D5;
  color: #0083FF;
  width: 100%;
  height: 100%;
}

.search input[type=text]:focus {
  outline: none;
   box-shadow: 0 0 5px #00A2FF;
}

.mainContent {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 40px;
}


.optionsColumn {
  float: left;
  width: 33.33%;
  padding: 1.65%;
  height: 60vh;
  border: 2px solid #00A2FF;
  border-radius: 10px;
  position: relative;
  overflow-y: hidden;
}


.topLabsColumn {
  float: left;
  width: 60.66%;
  margin-left: 6%;
  padding: 0px;
  height: 60vh;
  border: 2px solid #00A2FF;
  border-radius: 10px;
  position: relative;
  overflow-y: hidden;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.optionSubmit input[type=submit] {
  position:absolute;
  bottom: 15px;
  right: 15px;
  background: #DDDDDD;
  border: 2px solid #00A2FF;
  border-radius: 10px;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

.optionSubmit input[type=submit]:hover {
  box-shadow: 0 0 5px #00A2FF;
}

.optionSubmit input[type=submit]:active {
  background: #CCCCCC;
  color: #000000;
}

.textOptionHeader {
  margin-bottom: 20px;
  font-size: 24px;
}

.selectDiv {
  display: flex;
  margin-top: 20px;
}

.optionSelect {
  border: 1px solid #00A2FF;
  background-color: #FFFFFF;
  margin-left: auto;
  width: 50%;
  position: relative;
}

#subfields {
  margin-top: 20px;
}

#subfieldsOptions {
  width: 60%;
  margin-top: 10px; 
  overflow-y: scroll;
  top: 215px;
  position: absolute;
  bottom: 0;
  visibility: hidden;
}

.textTopHeader {
  width: 100%;
  font-size: 24px;
  padding: 1.65%;
  text-align: center;
}

.top {
  top: 50px;
  width: 100%;
  border-collapse: collapse;
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
}

.labItem {
  padding: 8px;
  border-top: 1px solid #00A2FF;
  border-bottom: 1px solid #00A2FF;
  background-color: #D5D5D5;
}

.labItem:hover {
  background-color: #C8C8C8;
  cursor: pointer;
}

.labName {
  font-size: 20px;
}

.labName span {
  display: inline-block;
  border-bottom: 1px solid #00A2FF;
  padding-bottom: 1px;
}

.labUniversity {
  padding-top: 10px;
  padding-left: 7%;
}

.labUniversity span {
  font-style: italic;
}

.labResearch {
  padding-top: 10px;
  padding-left: 7%;
}

.labResearch ul {
  margin-top: 2px;
  list-style: none;
}

.labResearch ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #00A2FF; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

